apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    app: apiserver
  name: apiserver
spec:
  replicas: 1
  selector:
    matchLabels:
      app: apiserver
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: apiserver
    spec:
      containers:
      - args:
        - --storage-type
        - etcd
        - --secure-port
        - "6443"
        - --insecure-bind-address
        - 0.0.0.0
        - --insecure-port
        - "8081"
        - --etcd-servers
        - http://localhost:2379
        - -v
        - "10"
        - --cors-allowed-origins
        - {{ cors_allowed_origin }}
        image: quay.io/kubernetes-service-catalog/apiserver:canary
        imagePullPolicy: Always
        name: apiserver
        ports:
        - containerPort: 6443
          protocol: TCP
        - containerPort: 8081
          protocol: TCP
        resources: {}
        terminationMessagePath: /dev/termination-log
        volumeMounts:
        - mountPath: /var/run/kubernetes-service-catalog
          name: apiserver-ssl
          readOnly: true
      - env:
        - name: ETCD_DATA_DIR
          value: /data-dir
        image: quay.io/coreos/etcd:latest
        imagePullPolicy: Always
        name: etcd
        resources: {}
        terminationMessagePath: /dev/termination-log
        volumeMounts:
        - mountPath: /data-dir
          name: data-dir
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      securityContext: {}
      terminationGracePeriodSeconds: 30
      volumes:
      - name: apiserver-ssl
        secret:
          defaultMode: 420
          secretName: apiserver-ssl
          items:
          - key: tls.crt
            path: apiserver.crt
          - key: tls.key
            path: apiserver.key
      - emptyDir: {}
        name: data-dir
