apiVersion: v1
kind: Service
metadata:
  name: apiserver
  annotations:
    service.alpha.openshift.io/serving-cert-secret-name: 'apiserver-ssl'
spec:
  ports:
  - name: insecure
    port: 80
    protocol: TCP
    targetPort: 8081
  - name: secure
    port: 6443
    protocol: TCP
    targetPort: 6443
  selector:
    app: apiserver
  sessionAffinity: None
