apiVersion: v1
kind: Pod
metadata:
  generateName: service-catalog-api-server-
  labels:
    component: service-catalog-api-server
    provider: openshift
  namespace: {{ namespace }}
spec:
  containers:
    image: {{ image }}
    imagePullPolicy: Always
    name: service-catalog-api-server
    resources:
      limits:
{% if cpu_limit is defined and cpu_limit is not none %}
        cpu: "{{ cpu_limit }}"
{% end if %}
{% if memory_limit is defined and memory_limit is not none %}
        memory: "{{ memory_limit }}"
{% endif %}
      requests:
{% if cpu_requests is defined and cpu_requests is not none %}
        cpu: "{{ cpu_requests }}"
{% endif %}
{% if memory_requests is defined and memory_requests is not none %}
        memory: "{{ memory_requests }}"
{% endif %}
  restartPolicy: Always
  serviceAccount: service-catalog-api-server
  serviceAccountName: service-catalog-api-server
